@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #050507;
  font-size: 1rem;
  /* \が¥に文字化けしないよう英語フォントを選択 */
  font-family: Arial;
}

pre {
  /* \が¥に文字化けしないよう英語フォントを選択 */
  font-family: Arial;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: #050507;
  text-decoration: none;
}

main {
  margin: 30px;
}

input {
  width: 200px;
  height: 50px;
  border: 1px solid #050507;
  margin: 20px 0;
}

input {
  width: 200px;
  height: 50px;
  border: 1px solid #050507;
  font-weight: bold;
  border-radius: 32px;
  text-align: center;
}

/* transitionプロパティ */
button {
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  color: #fff;
  background-color: #ff8c2e;

  transition-property: background-color;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}

button {
  transition: background-color 3s ease-in-out 1s;
}

button:hover {
  color: #050507; /* transitionプロパティ無 */
  background-color: #a5cbff; /* transitionプロパティ有 */
}

/* css */
.square {
  width: 100px;
  height: 100px;
  margin: 30px;
  background-color: gray;
  position: relative;
}

/* move */
.move_right_step {
  animation: move 5s steps(5, jump-end) forwards;
}
@keyframes move {
  from { left: 0; }
  to { left: 100px; }
}

/* color ※中間色が入っています */
.color_transition_step {
  animation: color 3s steps(5, jump-end) 2;
}
@keyframes color {
  0% { background-color: gray; }
  50% { background-color: pink; }
  100% { background-color: orange;}
}

/* fade */
.fade_animation_step {
  animation: fade 5s steps(5, jump-start);
}
@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* expand_reverse */
.expand_reverse_step {
  animation: expand 5s steps(5, jump-end) reverse;
}
@keyframes expand {
  from { width: 100px; }
  to {width: 200px;}
}

/* --#header----------------------- */
/* --ハンバーガーメニュー------------ */
/* --#mainvisual------------------- */
/* --#information------------------ */
/* --#access----------------------- */
/* --#contact---------------------- */
/* --#footer----------------------- */
/* --レスポンシブ------------------- */
/* --レスポンシブ#information------- */
/* --レスポンシブ#access------------ */
/* --レスポンシブ#contact----------- */
/* --レスポンシブ#footer------------ */

/* --やることリスト----------------- */